*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: "Inconsolata", monospace;
    background: linear-gradient(135deg, #3a2140, rgb(23 0 255));
}
nav{
    display: none;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;

}

nav ul li {
    list-style: none;
    margin: 0 10px;
    width: 100px;
    text-align: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

#content {
    color: white;
    background-color: #593959;
    margin: 0 80px;
    margin-top: 40px;
    border: solid 2px rgba(255, 255, 255, 0.447);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px #bebebe,
                -0px -0px 0px #ffffff;
}

.content-vid {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    opacity: 0.5;
}

#vid{
    height: 90vh;
    width: 100%;
}
.main h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 4rem;
}

.main h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    color: greenyellow;
}

.main p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}

#lang {
    color: rgb(34, 255, 0);
    display: inline-block;
    font-size: 40px;
    margin-top: 30px;
    font-weight: 700;
}

.swipe {
    font-size: 50px;
    text-align: center;
    margin: 100px;
    color: rgba(255, 0, 0, 0.462);
}

#heading {
    color: white;
    text-align: center;
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#heading h1 {
    font-size: 30px;
    margin: 50px 0;
}

#heading hr {
    width: 80vh;
   
}


#boxes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 80px;
    border: solid 2px rgba(255, 255, 255, 0.526);
    box-shadow: 0px 0px 10px #bebebe,
    -0px -0px 0px #ffffff;
}

.box {
    width: 280px;
    height: 250px;
    margin: 10px;
    background-color: #f9f3ff;
    text-align: center;
    border-radius: 20px 0px;
    background: #e0e0e0;
    box-shadow: 0px 0px 20px #bebebe,
               -0px -0px 0px #ffffff;
    overflow: hidden;
    margin-top: 40px;
}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.box h4 {
    /* margin: 10px; */
    padding: 0;
    background-color: rgba(0, 0, 0, 0.885);
    color: rgb(229, 255, 0);
    height: 9%;
}

.box img {
    width: 100%;
    height: 91%;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-content a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer-content p {
    margin: 10px 0;
}

@media screen and (max-width: 600px) {
    .main h1 {
        font-size: 2rem;
        margin-top: 70px;
    }

    .main h2 {
        font-size: 2rem;
    }

    .main p {
        margin: 20px 0;
        font-size: 1.2rem;
        padding: 20px;
    }

    #lang {
        font-size: 2rem;
    }

    .swipe {
        margin-top: 2px;
        /* margin-bottom: 2px; */
    }

    #vid{
        height: 85vh;
        width: 100%;
    }
    #heading hr {
        width: 18vh
    }

    #boxes {
        margin: 20px;
    }

    #content {
        margin: 20px;
    }
}
